parameters:
    secret: ${APP_SECRET}
    database_password: ${DB_PASSWORD}
    database_user: ${DB_USER}
    database_name: ${DB_NAME}
    database_host: mysql
    database_port: ~

    admin_users:
      admin:
        password: ${ADMIN_PASSWORD}
        roles: "ROLE_ADMIN"
    google_analytics_id: 1111

    mailer_password: some_pwd
    mailer_user: some_user

    facebook_id: "111"
    facebook_secret: "xxx"
    vk_id: "111"
    vk_secret: "xxx"
    twitter_id: "111"
    twitter_secret: "xxx"
    google_id: "111.apps.googleusercontent.com"
    google_secret: "xxx"
    google_maps_api_key: "xxx"
    google_2fa_seed: "123"
